<html>
   <head>
        <title>Demand display</title>
    </head>
<body style="background-color: paleturquoise">
        <html>
    <body>
        <h1 align="center">RESOURCE DEMAND </h1>
        <style>
            h1{color: red;}
        </style>
    
        <div class="topnav">
            <a href="{% url 'demand' %}"><button style="height:50px;width: 100px; justify-content: center;background-color: powderblue;" >VIEW DEMANDS</button></a>
       <style>
        .topnav {
            text-align: center;
        }
       </style>
        </div>
        <h3 align="center">Click On Button To See The Demand Data</h3>
        <style>
            h3{color: green;}
        </style>
    </body>
</html>